/* General Styling */
body {
   background: linear-gradient(-45deg, #2C3E50, #34495E, #1F2833, #0B0C10);
   background-size: 400% 400%;
   animation: gradientMove 20s ease infinite;
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   color: #E0E0E0;
   text-align: center;
}

h1, h2 {
   margin-top: 20px;
   transition: color 1.5s ease-in-out;
   position: relative;
   overflow: hidden;
   white-space: nowrap;
   display: inline-block;
   animation: decryptText 3s steps(20, end) forwards;
   opacity: 0;
}

h1:hover, h2:hover {
   color: #66FCF1;
}

p {
   font-size: 18px;
   line-height: 1.6;
}

/* Header and Navigation */
header {
   background-color: rgba(20, 20, 20, 0.9);
   padding: 10px 0;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
   padding: 0;
}

nav ul li {
   margin: 0 15px;
}

nav ul li a {
   text-decoration: none;
   color: #45A29E;
   font-size: 18px;
   transition: color 1.5s;
}

nav ul li a:hover {
   color: #66FCF1;
}

/* Main Title Section */
.main-title {
   background: rgba(255, 255, 255, 0.05);
   margin: 20px auto;
   padding: 20px;
   width: 80%;
   border-radius: 5px;
   backdrop-filter: blur(5px);
   animation: fadeIn 1.5s;
}

/* Sections */
.website-section {
   margin: 40px auto;
   padding: 20px;
   background: rgba(255, 255, 255, 0.05);
   border-radius: 5px;
   width: 80%;
   backdrop-filter: blur(5px);
   animation: slideIn 1.5s;
}

.website-section a {
   color: #45A29E;
   text-decoration: none;
   font-size: 18px;
   transition: color 1.5s;
}

.website-section a:hover {
   color: #66FCF1;
   text-decoration: underline;
}

/* Projects */
.projects-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

.project {
   width: 45%;
   background: rgba(255, 255, 255, 0.05);
   border-radius: 5px;
   overflow: hidden;
   transition: transform 1.5s;
   backdrop-filter: blur(5px);
}

.project:hover {
   transform: scale(1.05);
}

/* Animations */
@keyframes slideIn {
   from {
       transform: translateY(-20px);
       opacity: 0;
   }
   to {
       transform: translateY(0);
       opacity: 1;
   }
}

@keyframes fadeIn {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}

@keyframes gradientMove {
   0% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
}

@keyframes decryptText {
   from {
       opacity: 0;
       content: "█ █ █ █ █ █ █ █";
   }
   to {
       opacity: 1;
   }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
   nav ul {
       flex-direction: column;
       padding: 10px;
   }
   .project {
       width: 100%;
   }
   .projects-container {
       flex-direction: column;
   }
   .website-section {
       width: 95%;
   }
}
